<%= form_for [topic, post] do |f| %>
 <% if post.errors.any? %>
 <!-- any validation errors display alert -->
  <div class="alert alert-danger">
    <!-- use pluralize if there are more than 1 error -->
     <h4><%= pluralize(post.errors.count, "error") %>.</h4>
     <ul>
       <% post.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
  </div>
  <% end %>
  <!-- form_group_tag to display title of errors -->
  <%= form_group_tag(post.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Enter post title' %>
  <% end %>
  <!-- display body of errors -->
  <%= form_group_tag(post.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Enter post body' %>
  <% end %>
 <div class="form-group">
   <%= f.submit "Save", class: 'btn btn-success' %>
 </div>
 <% end %>
